body {
  overflow-x: hidden;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

button:hover {
  background-color: #e3830e !important;
}

.bg-gradient-to-right {
  /* background-image: linear-gradient(to right, #ecf0fb, #e9f3e5); */
  background-image: url('/assets/Rectangle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-orange {

  background-color: #FD900F !important;
}

.PSPDFKit-Tool-Button {
  background-color: #FD900F !important;

}